@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:wght@100;300;500;700;900&display=swap");
@import url(../css/reset.css);
h3 {
  font-family: 'Montserrat';
  font-weight: 300;
  color: #fff;
  font-size: 48px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

h4 {
  color: #fff;
  opacity: 70%;
}

p {
  color: #fff;
  opacity: 50%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 10;
}

.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.frame .pageBtns {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.frame .pageBtns button {
  z-index: 100;
  position: absolute;
  top: calc(50% - 15px);
  border: 0;
  width: 120px;
  height: 30px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  padding: 0;
  font-family: 'notoSans';
  font-weight: 600;
  font-size: 1em;
  opacity: 10%;
}

.frame .pageBtns button::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.frame .pageBtns button:hover {
  opacity: 60%;
  letter-spacing: 2px;
}

.frame .pageBtns button.left {
  left: 20px;
}

.frame .pageBtns button.right {
  right: 20px;
}

.frame .section_wrap {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafdff;
  background: linear-gradient(135deg, #fafdff 0%, #2d91d0 16%, #3ca5e7 34%, #fffdf6 66%, #ebded4 100%);
}

.frame .section_wrap section {
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame .section_wrap section .title {
  width: 40%;
  height: 100%;
  color: #fff;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.frame .section_wrap section .title .list {
  margin-top: 15%;
  padding-right: 30%;
  opacity: 70%;
}

.frame .section_wrap section .title .list li {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame .section_wrap section .title .list li span {
  line-height: 3.50em;
}

.frame .section_wrap section .title .list li span:first-of-type {
  font-weight: 600;
  text-transform: uppercase;
}

.frame .section_wrap section .content {
  background-color: #fff;
  width: 60%;
  height: 100%;
  padding: 5vw;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.07);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: ()[3];
      grid-template-rows: repeat(3);
  gap: 10%;
}

.frame .section_wrap section .content ul.infoBox li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.frame .section_wrap section .content ul.infoBox li.infoTitle {
  margin-bottom: 20px;
  width: 100%;
}

.frame .section_wrap section .content ul.infoBox li.infoTitle span {
  display: block;
  width: 100%;
  font-family: "Noto Sans";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 2.5em;
  color: #3e3e3e;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.frame .section_wrap section .content ul.infoBox li > span {
  font-family: "Noto Sans KR";
  font-weight: 300;
  color: #3e3e3e;
  font-size: 1em;
  line-height: 1.875em;
}

.frame .section_wrap section .content ul.infoBox.pro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.frame .section_wrap section.aboutMe {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.frame .section_wrap section.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame .section_wrap section.main .intro {
  width: 40vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame .section_wrap section.main .intro .img {
  width: 40%;
}

.frame .section_wrap section.main .intro .img img {
  width: 100%;
  width: 100%;
  opacity: 97%;
}

.frame .section_wrap section.myPjt .title {
  position: -webkit-sticky;
  position: sticky;
}

.frame .section_wrap section.myPjt .content {
  position: relative;
  overflow: scroll;
}

.frame .section_wrap section.myPjt .content .article_wrap {
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  right: 0;
}

.frame .section_wrap section.myPjt .content .article_wrap article {
  height: 100vh;
  width: 100%;
}

.frame .section_wrap section.myPjt .content .article_wrap article:nth-of-type(odd) {
  background-color: #666;
}
